html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  font-family: "Consolas", "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: cyan;
}

a:hover {
  color: magenta;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

nav {
  background: white;
}

nav li {
  display: inline-block;
}
nav a {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: black;
}

section {
  color: white;
  width: 800px;
  margin: 0 auto;
}

#cmaj-reset-button {
  position: absolute;
  right: 0;
  top: 0;
}

#cmaj-overlay {
  border: none;
  position: absolute;
  top: 118px;
  left: 0;
  width: 100%;
  /*height: calc(100vh - 118px);*/
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, #333333ee 0%, #333333cc 100%);
  z-index: 10;
  color: white;
  text-shadow: 0 0 0.2rem black, 0 0 0.5rem black, 0 0 1rem black,
    0 0 3rem black;
}

.cmaj-piano-keyboard {
  width: 800px;
  height: 5rem;
  align-self: center;
  margin: 0.1rem;
  overflow: hidden;
  margin: 0 auto;
}

custom-patch-view {
  margin: 0 auto;
}
