<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oscilluna</title>
  </head>
  <body>
    <script type="module" src="/src/main.ts"></script>
    <div id="root"></div>
    <canvas id="canvas"></canvas>
    <div id="temporary-controls-tuning">
      <!-- Osc 1 -->
      <div>
        <div style="line-height: 300%">Osc 1</div>
        <div class="ib">
          <label for="osc1_level">Output Level</label><br />
          <input
            id="osc1_level"
            type="range"
            min="0"
            max="100"
            step="1"
            value="100"
          />
        </div>
        <div class="ib">
          <label for="osc1_coarse">Coarse Tune</label><br />
          <input
            id="osc1_coarse"
            type="range"
            min="-2"
            max="2"
            step="1"
            value="0"
          />
        </div>
        <div class="ib">
          <label for="osc1_fine">Fine Tune</label><br />
          <input
            id="osc1_fine"
            type="range"
            min="-20"
            max="20"
            step="1"
            value="0"
          />
        </div>
        <div class="ib">
          <label for="osc1_vibrato_depth">Vibrato Depth</label><br />
          <input
            id="osc1_vibrato_depth"
            type="range"
            min="0"
            max="1"
            step="0.01"
            value="0"
          />
        </div>
        <div class="ib">
          <label for="osc1_vibrato_rate">Vibrato Speed</label><br />
          <input
            id="osc1_vibrato_rate"
            type="range"
            min="0.5"
            max="10"
            step="0.01"
            value="0.5"
          />
        </div>
        <div class="ib" style="width: 74px">
          <label class="block" style="text-align: left">
            <input type="radio" name="fm_direction" value="0" checked />
            No FM
          </label>

          <label class="block" style="text-align: left">
            <input type="radio" name="fm_direction" value="1" />
            1 → 2
          </label>

          <label class="block" style="text-align: left">
            <input type="radio" name="fm_direction" value="2" />
            1 ← 2
          </label>
        </div>
        <div class="ib">
          <label for="fm_depth">FM Depth</label><br />
          <input
            id="fm_depth"
            type="range"
            min="0"
            max="1"
            step="0.001"
            value="0.5"
          />
        </div>
        <div class="ib">
          <label for="osc1_feedback_fm">Self FM</label><br />
          <input
            id="osc1_feedback_fm"
            type="range"
            min="0"
            max="1"
            value="0"
            step="0.01"
          />
        </div>
      </div>
      <!-- Osc 2-->
      <div>
        <div style="line-height: 300%; margin-top: 16px">Osc 2</div>
        <div class="ib">
          <label for="osc2_level">Output Level</label><br />
          <input
            id="osc2_level"
            type="range"
            min="0"
            max="100"
            step="1"
            value="100"
          />
        </div>
        <div class="ib">
          <label for="osc2_coarse">Coarse Tune</label><br />
          <input
            id="osc2_coarse"
            type="range"
            min="-2"
            max="2"
            step="1"
            value="0"
          />
        </div>
        <div class="ib">
          <label for="osc2_fine">Fine Tune</label><br />
          <input
            id="osc2_fine"
            type="range"
            min="-20"
            max="20"
            step="1"
            value="0"
          />
        </div>
        <div class="ib">
          <label for="osc2_vibrato_depth">Vibrato Depth</label><br />
          <input
            id="osc2_vibrato_depth"
            type="range"
            min="0"
            max="1"
            step="0.01"
            value="0"
          />
        </div>
        <div class="ib">
          <label for="osc2_vibrato_rate">Vibrato Speed</label><br />
          <input
            id="osc2_vibrato_rate"
            type="range"
            min="0.5"
            max="10"
            step="0.01"
            value="0.5"
          />
        </div>
        <div class="ib">
          <label for="osc2_feedback_fm">Self FM</label><br />
          <input
            id="osc2_feedback_fm"
            type="range"
            min="0"
            max="1"
            step="0.01"
            value="0"
          />
        </div>
      </div>
    </div>
  </body>
</html>
